*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
#wrapper{
    height: 100vh;
    /* To avoid scrolling in y direction: below line is added */
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
    /* z-index is to say which image will be over which image */
}
.background{
    transform: translateZ(-40px) scale(5);
}

.foreground{
    transform: translateZ(-20px) scale(4);
}
.foreground,.background{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;

    /* object-fit: cover is used to fit image in container */
}